<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ejs Template</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box", id="heading">
      <h1><%=listTitle%></h1>
    </div>

    <div class="box">
      <% for (let i = 0; i < newListItems.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%=newListItems[i]%></p>
        </div>
            <% } %>
        <form class="item" action="/" method="post">
        <input type="text" name="newitem", placeholder="Add Item", autocomplete="on">
        <button class="button" type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>

    <footer class="footer"></footer>
  </body>
</html>
